<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/verify.css">

    <title>Document</title>
</head>
<body>
<header>
    <h1>Panel admina </h1> <!-- usuńcie to -->
    <img src="../images/logo.svg" alt="logo ZSTI">
</header>
<main>
<% if (data.length!==0){data.forEach(element => { %>

    <section class="user" >
        <h1 style="font-size: 2rem;margin: 0">Username: <%= element.username %></h1>
        <h2>Email: <%= element.email %></h2>
        <form method="post" action="/admin/verify">
            <label for="user" style="display: none">
                <input name="user" type="text" value="<%=element._id%>" >
            </label>
            <input type="submit" value="Zatwierdź">
        </form>
    </section>
<% })}else{ %>
    <h1>Brak niezweryfikowanych użytkowników</h1>
<% } %>
</main>
<link rel="stylesheet" href="../nav.css">
<nav>
    <hr>
    <ul>
        <li><a href=""><img src="/images/Vector1.svg" alt=""></a></li>
        <li><a href=""><img src="/images/Vector2.svg" alt=""></a></li>
        <li><a href="../"><img src="/images/Vector3.svg" alt="strona główna"></a></li>
        <li><a href=""><img src="/images/Vector4.svg" alt="kalendarz"></a></li>
        <li><a href="../profile"><img src="/images/Vector5.svg" alt="profil uzytkownika"></a></li>
    </ul>
</nav>
</body>
</html>