<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="kompetencje.css">
    <title>Kompetencje</title>
</head>

<body>
    <%- include('../src/nav.ejs') %>

    <header>
        <h1>Kompetencje</h1>
        <a href="#"><img src="../images/arrow1.svg"></a>
    </header>

    <ul class="kompetencje">
        <a href="#">
            <li>Przedmioty</li>
        </a>
        <a href="#">
            <li>Działy</li>
        </a>
        <a href="#">
            <li>Tematy</li>
        </a>
    </ul>
</body>

</html>