<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>Logowanie</title>
    
    <script src="register_warnings.js" defer></script>
    <link rel="stylesheet" href="log-rej.css">
</head>
<body>
    <!-- <%- include('../src/nav.ejs') %> -->

    <h3 class="big">Logowanie</h3>
    <form action="/api/login" method="post">
        <h3 class="title">Witaj!</h3>
        <p>Zaloguj się aby kontynuować.</p>
        <label for="email">Email:</label>
        <input type="text" name="email">
        <label for="password">Hasło:</label>
        <input type="text" name="password">

        <button class="b-sub" type="submit" style="text-transform: uppercase;">Zaloguj</button>
        <p class="nowy">Jesteś nowy?<a href="register">Zarejestruj się</a></p>
    </form>
</body>
</html>
