<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="wyniki.css">
    <title>Wyniki wyszukiwania</title>
</head>

<body>
    <%- include('../src/nav.ejs') %>

    <header>
    <h1>Wyniki wyszukiwania:</h1>
    <a href="#"><img src="../images/arrow1.svg"></a>
    </header>

    <div class="wynik">
        <div class="top">
            <h4 class="nazwa">uzytkownik1</h4>
            <div class="gwiazdki">
                <div class="star5"></div>
                <img src="../images/stars.svg" class="gw2">
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="wynik">
        <div class="top">
        <h4 class="nazwa">uzytkownik2</h4>
        <div class="gwiazdki">
            <div class="star4"></div>
            <img src="../images/stars.svg" class="gw2">
        </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="wynik">
        <div class="top">
        <h4 class="nazwa">uzytkownik3</h4>
        <div class="gwiazdki">
            <div class="star3"></div>
            <img src="../images/stars.svg" class="gw2">
        </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
</body>

</html>