<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/dodaj.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Kompetencje: przedmioty</h1>
        <a href="#"><img src="../images/arrow1.svg"></a>
    </header>
    <form action="/competences/subjects" method="post">
        <label for="subject">
            <select name="subject">
                <option value="Wybierz przedmiot">Wybierz przedmiot</option>
                <option value="Matematyka">Matematyka</option>
                <option value="Polski">Polski</option>
            </select>
        </label>
        <input type="submit" value="Dodaj">
    </form>
    <main>
        <% if (data){data.subjects.forEach(element => { %>

            <section>
                <h1 style="font-size: 2rem;margin: 0"><%= element %></h1>
            </section>
        <% })}else{ %>
            <h1>Brak kompetencji</h1>
        <% } %>
    </main>
    <link rel="stylesheet" href="../nav.css">
    <nav>
        <hr>
        <ul>
            <li><a href=""><img src="/images/Vector1.svg" alt=""></a></li>
            <li><a href=""><img src="/images/Vector2.svg" alt=""></a></li>
            <li><a href="../"><img src="/images/Vector3.svg" alt="strona główna"></a></li>
            <li><a href=""><img src="/images/Vector4.svg" alt="kalendarz"></a></li>
            <li><a href="../profile"><img src="/images/Vector5.svg" alt="profil uzytkownika"></a></li>
        </ul>
    </nav>

</body>
</html>