<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./profile.css">
    <title>Document</title>
</head>

<body>
    <%- include('../src/nav.ejs') %>
    <div class="container">
        <h1>Profil (<%= name%>)</h1>
        <div class="prof_nav">
            <a href="./notes">
                <div>Notatki <img src="arrow.png"></div>
            </a>
            <a href="#">
                <div>Opinie <img src="arrow.png"></div>
            </a>
            <a href="./competences">
                <div>Kompetencje <img src="arrow.png"></div>
            </a>
            <a href="/logout">
                <div>Wyloguj <img src="arrow.png"></div>
            </a>

            <% if(admin){ %>
                <a href="./admin">
                    <div>Admin <img src="arrow.png"></div>
                </a>

            <%}%>

        </div>
        <div class="prof">
            <img id="pfp" src="placeholder.jpg" alt="profile picture" />
            <div class="gwiazdki">
                <img src="gwiazdki.png" alt="stars" class="stars" />
                <!-- szablon gwiazdek -->
                <img src="yellow.png" class="yellow">
                <!-- żółty png pod szablonem, długość zależy od ilości gwiazdek  !!! nie ustawiac na <20% ani >98% !!! -->
                <img src="empty.png" class="empty">
            </div>
            <p>Email: <%= email%></p>
            <p>Github:</p>
        </div>
    </div>
</body>

</html>