<!DOCTYPE html>
<html lang="pl">
    <head>
       
        
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dziura</title>

        <link rel="stylesheet" href="style.css">
    </head>
<body>
    <header>
        <h1>Strona Główna (<%= name %>)</h1> <!-- usuńcie to -->
        <img src="/images/logo.svg" alt="logo ZSTI">
    </header>
    <main>
       <article>
        <h2>Nowości</h2>
       </article>
       <article>
        <h2>Nowości</h2>
       </article>
       <article>
        <h2>Nowości</h2>
       </article>
       <article>
        <h2>Nowości</h2>
       </article>
    </main>

<link rel="stylesheet" href="nav.css">
<nav>
    <hr>
    <ul>
     <li><a href="./kor-s"><img src="/images/Vector1.svg" alt=""></a></li>
     <li><a href=""><img src="/images/Vector2.svg" alt=""></a></li>
     <li><a href="."><img src="/images/Vector3.svg" alt="strona główna"></a></li>
     <li><a href=""><img src="/images/Vector4.svg" alt="kalendarz"></a></li>
     <li><a href="./profile"><img src="/images/Vector5.svg" alt="profil uzytkownika"></a></li>
    </ul> 
 </nav>   

</body>
</html>
